{% extends 'index.html' %}
{% block sidebar %}
<div id="sidebar">
				<ul id="menu" class="menu">
					<li><a href="#lesson-1-1">The Basics of the Web</a>
						<ul>
							<li><a href="#lesson-1-1">How The Web Works</a></li>
							<li><a href="#lesson-1-2">HTML</a></li>
							<li><a href="#lesson-1-3">Tags and Elements</a></li>
							<li><a href="#lesson-1-4">Computers are Stupid</a></li>
							<li><a href="#lesson-1-5">Inline vs Block</a></li>
						</ul>
					</li>
					<li><a href="#lesson-2-1" >Structured Documents</a>
						<ul>
							<li><a href="#lesson-2-1">Front End Programming</a></li>
							<li><a href="#lesson-2-2">Structure of HTML</a></li>
							<li><a href="#lesson-2-4">Text Editors</a></li>
						</ul>
					</li>
					<li><a href="#lesson-3-1">Adding CSS to HTML </a>
						<ul>
							<li><a href="#lesson-3-1">Avoid Repetition</a></li>
							<li><a href="#lesson-3-2">CSS</a></li>
						</ul>
					</li>
					<li><a href="#lesson-4-1">Serious Programming</a>
						<ul>
							<li><a href="#lesson-4-1">Computers & Programming</a></li>
							<li><a href="#lesson-4-2">High Level Languages</a></li>
							<li><a href="#lesson-4-3">Grammars & Backus-Naur</a></li>
						</ul>
					</li>
					<li><a href="#lesson-5-1">Variables & Strings</a>
						<ul>
							<li><a href="#lesson-5-1">The Variable</a></li>
							<li><a href="#lesson-5-2">The String</a></li>
							<li><a href="#lesson-5-3">The Find</a></li>
						</ul>
					</li>
					<li><a href="#lesson-6-1">Input-Function-Output</a></li>
					<li><a href="#lesson-7-1">Decisions & Repetition</a>
						<ul>
							<li><a href="#lesson-7-1">Comparisons</a></li>
							<li><a href="#lesson-7-2">The If</a></li>
							<li><a href="#lesson-7-3">The Or</a></li>
							<li><a href="#lesson-7-4">The Loop</a></li>
						</ul>
					</li>
					<li><a href="#lesson-8-1" >Structured Data</a>
						<ul>
							<li><a href="#lesson-8-1">Lists</a></li>
							<li><a href="#lesson-8-2">Operations</a></li>
						</ul>
					</li>
					<li><a href="#lesson-9-1">In-depth Python</a>
						<ul>
							<li><a href="#lesson-9-1">OOP Importance</a></li>
							<li><a href="#lesson-9-2">Abstraction</a></li>
							<li><a href="#lesson-9-3">Modules</a></li>
							<li><a href="#lesson-9-4">Profanity Checker</a></li>
						</ul>
					</li>
					<li><a href="#lesson-10-1" >Classes and Objects</a>
						<ul>
							<li><a href="#lesson-10-1">Inheritance</a></li>
							<li><a href="#lesson-10-2">My Analogy</a></li>
							<li><a href="#lesson-10-3">Constructors</a></li>
							<li><a href="#lesson-10-4">Turtle Module</a></li>
						</ul>
					</li>
					<li><a href="#lesson-11-1">Networks and Databases</a>
						<ul>
							<li><a href="#lesson-11-1">Basic Vocabulary</a></li>
							<li><a href="#lesson-11-2">How Networks Work</a></li>
							<li><a href="#lesson-11-3">Validation</a></li>
							<li><a href="#lesson-11-4">Examples of Validation</a></li>
							<li><a href="#lesson-11-5">Templates</a></li>
							<li><a href="#lesson-11-6">Abstraction</a></li>
						</ul>
					</li>
					<li><a href="#lesson-12-1">Stage 5 Notes</a>
						<ul>
							<li><a href="#lesson-12-1">Classes and Inheritance</a></li>
							<li><a href="#lesson-12-2">My Analogy</a></li>
							<li><a href="#lesson-12-3">Class Constructor</a></li>
							<li><a href="#lesson-12-4">The Turtle Module</a></li>
						</ul>
					</li>
				</ul>
</div>
{% endblock %}				